.App {
  display: grid;
  grid-template-areas:
  "header settings"
  "content content"
  ;

  grid-template-columns: 7fr 1fr;

  font-size: 60px;
}

.App input {
  font-size: 60px;
}

header {
  grid-area: header;
  border: 1px dotted orange;
}

.game {
  grid-area: game;
  border: 1px solid blue;
}

.scores {
  grid-area: scores;
  border: 1px solid green;
}

.graphs {
  grid-area: graphs;
  border: 1px solid red;
}

.settings {
  grid-area: settings;
}

.game-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas: "game scores graphs";
}
